.container {
  background-color: #111111ff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #6cff6c;
}

.highscores {
  font-size: 2rem;
}

.poeng {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.emoji {
  width: 40px;
  text-align: center;
}