.container {
  background-color: #111111ff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #6cff6c;
}

.header span {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.post {
  border: 1px solid #333333ff;
  height: 140px;
  width: 140px;
  padding-left: 0.5rem;
}

.postTitle {
  font-size: 1.3rem;
  line-height: 1.1;
  font-family: Verdana, sans-serif;
  padding-top: 2rem;
}

.emoji {
  font-size: 1.5rem;
  text-align: center;
  margin-left: -0.5rem;
  padding-top: 1rem;
}