.container {
  background-color: #111111ff;
  color: #ffffff;
  min-height: 100vh;
  padding: 1rem;
  font-size: 1.1rem;
}

.tilbake {
  padding: 1rem;
  font-size: 1.1rem;
  display: inline-block;
  font-family: Verdana, sans-serif;
}

.post {
  padding-top: 4rem;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #6cff6c;
}

.answer {
  display: flex;
  padding-top: 2rem;
  margin-bottom: 0.8rem;
}

.input {
  margin-right: 0.5rem;
}

.answerButton {
  border: 1px solid #333333ff;
  padding: 0.3rem;
}

.correct {
  color: #6cff6c;
  font-size: 1.3rem;
}

.wrong {
  color: #de2020;
}

.inputLink {
  padding-top: 3rem;
  text-decoration: underline;
}

.articleBody {
  padding: 4rem 2rem 0;
}

.articleBody p {
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}

.articleBody blockquote {
  margin-left: 20px;
  font-style: italic;
  font-family: monospace;
  font-size: 1.1rem;
}

.articleBody strong {
  font-weight: bold;
}
